.error-404-container {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #303c54;
}

.error-404-message {    
    display: flex;
    flex-direction: row;    
    align-items: center;    
    color: white;
}

.error-404-code {
    font-size: 120px;
    margin-right: 10px;
    //color: #303c54;
}

.error-404-title {
    font-size: 30px;
}